/* You can add global styles to this file, and also import other style files */

:root {
    --color-1: #1DB954;
    --color-2: #323232;
    --color-3: #000000;
    --color-4: #FFFFFF;
    --color-5: #181818;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.8rem;
    --shadow-1: rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1: 'Poppins', sans-serif;
    --animation-1: 200ms;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-3);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-4);
}

input,
button {
    cursor: pointer;
    font-family: var(--font-family-1);
}

button:disabled {
    opacity: .5;
}



@media (max-width: 768px) {
    .section--generic__player--zone .player--list {
      display: flex; /* Cambia de grid a flexbox */
      flex-direction: column; /* Asegúrate de que los elementos se apilen */
      gap: 1rem; /* Mantén un espacio entre los elementos */
    }
  
    .section--generic__player--zone .player--list.card-small {
      grid-template-columns: none; /* Deshabilita las columnas */
    }
  }
  



/* 
  .section--generic[_ngcontent-ng-c2633556625] {
    background-image: linear-gradient(rgba(144, 195, 41, 0.6) 0%, #a23232 100%);
    background-color: #5028f0;
  }
   */


  .tracks-page {
    background-image: linear-gradient(rgba(32, 36, 26, 0.5) 0%, #060505 100%);
    background-color: #361ba4;
  }
  

  .tracks-page {
  background-image: linear-gradient(180deg, #2e168f 0%, #3a1fa9 0%, #02040c 20%);
}

.tracks-page {
    /* background-image: linear-gradient(135deg, #3f1fbe 0%, #4724d3 10%, #02040c 20%, #02040c 100%); */
}
  


.tracks-page {
    /* background-image: linear-gradient(135deg, #2e168f 0%, #3a1fa9 0%, #02040c 30%); */
  }
  
/* respondive */
  @media (min-width: 992px) {
    .col-lg-2 {
      flex: 0 0 auto;
      width: 20.66666667%;
    } 
  }